# User data
ProjectManager/bin/Debug/data

# Launcher bat (requires hardcoded info)
ProjectManager/bin/Debug/launchManager.bat

# Object files
ProjectManager/obj

# User Options / Prefs
*.suo
ProjectManager/ProjectManager.csproj.user